@use "styles/colors";

.button {
  width: 100%;
  padding: 10px;
  border: 2px solid colors.$primary;
  border-radius: 5px;
  color: colors.$white;
  font-family: inherit;
  cursor: pointer;
  background-color: colors.$primary;

  &:hover {
    background-color: colors.$white;
    color: colors.$primary;
    transition: all 0.2s;
  }
}

.invert {
  border-color: colors.$white;
}