@use "styles/colors";
@use "styles/mixins";

.days {
  @include mixins.container;
  display: flex;
  min-height: 50vh;
  margin-top: 20px;
}

.arrow {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  width: 1.5rem;

  &::after {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    display: block;
    transform-origin: center;
    border-color: gray;
    border-style: solid;
    border-width: 0;
    border-top-width: 0.3125rem;
    border-right-width: 0.3125rem;
  }

  &:hover {
    &::after {
      border-color: colors.$primary;
    }
  }
}

.prev {
  .arrow::after {
    transform: rotate(-135deg);
    position: relative;
    left: 6px;
  }
}

.next {
  .arrow::after {
    transform: rotate(45deg);
  }
}
