.signup {
  flex: 1;
  width: 100%;
  display: grid;
  place-items: center;

  &__input {
    padding-left: 5px;
  }

  &__wrapper {
    position: relative;
    top: -40px;
    width: 90%;
    max-width: 400px;
    display: grid;
    row-gap: 10px;
  }

  &__title {
    margin-bottom: 5px;
    text-align: center;
  }

  &__link {
    margin-top: 5px;
    padding-bottom: 1px;
    border-bottom: 2px solid black;
    display: inline-block;
  }
}
