@use "styles/colors";

.day {
  border: 1px solid colors.$border;
  border-left-width: 0.5px;
  border-right-width: 0.5px;
  max-width: 500px;
  height: 100%;
  padding: 5px 0;
  display: flex;
  flex-direction: column;

  &__name {
    text-align: center;
    margin-bottom: 5px;
  }
  &__date {
    text-align: center;
    margin-top: 0;
    font-weight: normal;
  }

  &__bg {
    background-image: linear-gradient(#eee 0.1em, transparent 0.1em);
    background-size: 100% 30px;
    flex: 1;
  }
}
